body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

/*MAPA*/
#mapa{
    height: 100%;
    width: 100%;
    position: absolute;
    
}

#mapaimg{
    height: 100%;
    width: 100%;
    position: absolute;
     
}


/* PÁGINA DE INICIO*/

#inicio {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;

}

#titulo {
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: antique;
    font-size: 32pt;
    position: absolute;
    top: -20%; 
    animation-name: titulo;
    animation-duration: 1.5s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

#inicio_op{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 30%;
    bottom: 15%;
    font-family: wash;
    font-size: 40pt;
    opacity: 0;
    animation-name: inicio_op;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#inicio_btn1{
    background-color: seagreen;
    position: absolute;
    top: 0%;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

#inicio_btn2{
    background-color: seagreen;
    position: absolute;
    bottom: 25%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

/*INSTRUCCIONES*/

#inst {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    z-index: 210;
}

#pergamino {
    height: 100%;
    position: relative;
    right: .5%;
    
}



#instrucciones{
    position: absolute;
    top: 7%;
    height: 80%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    font-family: shine;
    font-size: 28.5pt;
}

#instrucciones_btn{
    position: absolute;
    top: -2%;
    right: -8%;
    height: 7%;
    width: 8%;
    cursor: pointer;
}

#instrucciones_btn img{
    height: 100%;
}

#instrucciones h1{
    font-family: antique;
    font-size: 35pt;
    position: absolute;
    top: 6%;
}

#instrucciones p{
    position: absolute;
    width: 70%;
    top: 15%;
}

/*PUZZLES MAPA*/
#puzzles{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    
}


#puzzle1_btn{
    height: 30%;
    width: 15%;
    position: absolute;
    background-color: teal;
    cursor: pointer;
    top: 5%;
    left: 10%;
} 

#puzzle2_btn{
    height: 30%;
    width: 15%;
    position: absolute;
    background-color: red;
    cursor: pointer;
    top: 8%;
    left: 40%;
} 

#puzzle3_btn{
    height: 30%;
    width: 15%;
    position: absolute;
    background-color: yellow;
    cursor: pointer;
    top: 10%;
    left: 70%;
} 

#puzzle4_btn{
    height: 30%;
    width: 15%;
    position: absolute;
    background-color: blueviolet;
    cursor: pointer;
    top: 50%;
    left: 80%;
} 

#puzzle5_btn{
    height: 30%;
    width: 15%;
    position: absolute;
    background-color: pink;
    cursor: pointer;
    top: 60%;
    left: 50%;
} 

#puzzle6_btn{
    height: 30%;
    width: 15%;
    position: absolute;
    background-color: black;
    cursor: pointer;
    top: 60%;
    left: 20%;
} 



/*PUZZLE 1*/
#puzzle1{
    position: absolute;
    height: 95%;
    width: 95%;
    top: 2.5%;
    left: 2.5%;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

#cerrar_btn1{
    position: absolute;
    top: 1%;
    right: -3%;
    height: 6%;
    width: 7%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_btn1 img{
    height: 100%;
}



#puzzle1_cont{
    background-color: wheat;
    position: absolute;
    top: 1%;
    height: 90%;
    width: 98%;
    display: flex;
    font-family: shine;
    font-size: 28.5pt;
    
}

#puzzle1_cont h1{
    font-family: wash;
    font-size: 40pt;
}

#puzzle1_txt{
    background-color: blue;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle1_puzzle{
    background-color: red;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#puzzle1_btn1{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}


/*PUZZLE 2*/
#puzzle2{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;;
    background-color: red;
}

/*PUZZLE 3*/
#puzzle3{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    background-color: yellow;
}

/*PUZZLE 4*/
#puzzle4{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    background-color: blueviolet;
}

/*PUZZLE 5*/
#puzzle5{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    background-color: pink;
}

/*PUZZLE 6*/
#puzzle6{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    background-color: black;
}





/*ANIMACIONES*/
@keyframes titulo {
    0% {
        top: -20%
    }
    
    100% {
        top: 30%;
    }
}

@keyframes inicio_op {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}