body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

/*MAPA*/
#mapa{
    height: 100%;
    width: 100%;
    position: absolute;
    
}

#mapaimg{
    height: 100%;
    width: 100%;
    position: absolute;
     
}


/* PÁGINA DE INICIO*/

#inicio {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;

}

#titulo {
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: antique;
    font-size: 32pt;
    position: absolute;
    top: -20%; 
    animation-name: titulo;
    animation-duration: 1.5s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

#inicio_op{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 30%;
    bottom: 15%;
    font-family: wash;
    font-size: 40pt;
    opacity: 0;
    animation-name: inicio_op;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#inicio_btn1{
    background-color: seagreen;
    position: absolute;
    top: 0%;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

#inicio_btn2{
    background-color: seagreen;
    position: absolute;
    bottom: 25%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

/*INSTRUCCIONES*/

#inst {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    z-index: 210;
}

#pergamino {
    height: 100%;
    position: relative;
    right: .5%;
    
}



#instrucciones{
    position: absolute;
    top: 7%;
    height: 80%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    font-family: shine;
    font-size: 28.5pt;
}

#instrucciones_btn{
    position: absolute;
    top: -2%;
    right: -8%;
    height: 7%;
    width: 8%;
    cursor: pointer;
}

#instrucciones_btn img{
    height: 100%;
}

#instrucciones h1{
    font-family: antique;
    font-size: 35pt;
    position: absolute;
    top: 6%;
}

#instrucciones p{
    position: absolute;
    width: 70%;
    top: 15%;
}

/*PUZZLES MAPA*/
#help{
    width: 5%;
    height: 5%;
    position: absolute;
    right: 6.5%;
    top: 2.5%;
    cursor: pointer;
    z-index: 20;
    transition: all 1s;
}

#help:hover{
    scale: 1.1;
}

#help img{
    width: 100%;
}

#puzzles{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

/*---*/

#puzzle1_btn, #puzzle2_btn, #puzzle3_btn, #puzzle4_btn, #puzzle5_btn, #puzzle6_btn{
    height: 30%;
    width: 15%;
    cursor: pointer;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    position: absolute;
    transition: all 1s;

}

#puzzle1_btn:hover, #puzzle2_btn:hover, #puzzle3_btn:hover, #puzzle4_btn:hover, #puzzle5_btn:hover, #puzzle6_btn:hover{
    scale: 1.3;

}

#puzzle1_btn{
    
    top: 12%;
    left: 13.5%;
    
    
} 

#puzzle1_btn img{
    width: 100%;
}


#pirata_closed{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 12%;
    left: 13.5%;
    z-index: 10;
} 

#pirata_closed img{
    width: 100%;
    filter: grayscale(1);
}

/*---*/

#puzzle2_btn{

    top: 4%;
    left: 55.5%;
    
} 


#puzzle2_btn img{
    width: 100%;
}


#narco_closed{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 4%;
    left: 55.5%;
    z-index: 10;
} 

#narco_closed img{
    width: 100%;
}

#narco_lock{
    height: 30%;
    width: 15%;;
    position: absolute;
    top: 4%;
    left: 55.5%;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#narco_lock img{
    width: 50%;
}

/*---*/

#puzzle3_btn{
    
    top: 9%;
    left: 76%;
    
} 


#puzzle3_btn img{
    width: 100%;
}


#bosque_closed{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 9%;
    left: 76%;
    z-index: 10;
} 

#bosque_closed img{
    width: 100%;
}

#bosque_lock{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 9%;
    left: 76%;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#bosque_lock img{
    width: 50%;
}

/*---*/

#puzzle4_btn{
    
    top: 55%;
    left: 73.5%;
    
} 


#puzzle4_btn img{
    width: 100%;
}


#alien_closed{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 55%;
    left: 73.5%;
    z-index: 10;
} 

#alien_closed img{
    width: 100%;
}

#alien_lock{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 55%;
    left: 73.5%;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#alien_lock img{
    width: 50%;
}

/*---*/

#puzzle5_btn{
    
    top: 40%;
    left: 43.5%;
    
} 


#puzzle5_btn img{
    width: 100%;
}


#western_closed{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 40%;
    left: 43.5%;
    z-index: 10;
} 

#western_closed img{
    width: 100%;
}

#western_lock{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 40%;
    left: 43.5%;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#western_lock img{
    width: 50%;
}

/*---*/

#puzzle6_btn{
    
    top: 57%;
    left: 21%;
    
} 


#puzzle6_btn img{
    width: 100%;
}


#zombie_closed{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 57%;
    left: 21%;
    z-index: 10;
} 

#zombie_closed img{
    width: 100%;
}

#zombie_lock{
    height: 30%;
    width: 15%;
    position: absolute;
    top: 57%;
    left: 21%;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#zombie_lock img{
    width: 50%;
}




/*PUZZLE 1*/
#puzzle1{
    position: absolute;
    height: 95%;
    width: 95%;
    top: 2.5%;
    left: 2.5%;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    
    
}

#cerrar_btn1{
    position: absolute;
    top: 1%;
    right: -3%;
    height: 6%;
    width: 7%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_btn1 img{
    height: 100%;
}


    /*PÁGINA DE INICIO DEL PUZZLE 1*/

#puzzle1_inicio{
    position: absolute;
    top: 5%;
    height: 90%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle1_inicio h1{
    font-family: wash;
    font-size: 100pt;
    position: absolute;
    top: 15%;
    
}

#puzzle1_btn1{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}




    /*PÁGINA PRINCIPAL DEL PUZZLE 1*/
#puzzle1_cont{
    position: absolute;
    top: 1%;
    height: 90%;
    width: 98%;
    display: flex;
    font-family: shine;
    font-size: 28.5pt;
    
}

#puzzle1_cont h1{
    font-family: wash;
    font-size: 40pt;
}

#puzzle1_txt{
    background-color: blue;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle1_puzzle{
    background-color: red;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#puzzle1_btn2{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}

/*PISTAS DEL PUZZLE 1*/
#puzzle1_pistas{
    width: 20%;
    height: 5%;
    position: absolute;
    top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: wash;
    font-size: 25pt;
}

#pista1_btn{
    background-color: chocolate;
    height: 80%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer; 
}

#puzzle1_p1, #puzzle1_p2, #puzzle1_p3{
    background-color: grey;
    height: 50%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


#puzzle1_pt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;
    
}

#cerrar_pista_p1{
    position: absolute;
    top: -10%;
    right: -15%;
    height: 15%;
    width: 15%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_pista_p1 img{
    height: 100%;
}






    /*VENTANA ACIERTO DEL PUZZLE 1*/
#puzzle1_acierto{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle1_acierto_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle1_acierto_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle1_btn3{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}
  


/*VENTANA ERROR DEL PUZZLE 1*/
#puzzle1_error{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle1_error_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle1_error_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle1_btn4{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}
    


/*PUZZLE 2*/
#puzzle2{
    position: absolute;
    height: 95%;
    width: 95%;
    top: 2.5%;
    left: 2.5%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    
}

#cerrar_btn2{
    position: absolute;
    top: 1%;
    right: -3%;
    height: 6%;
    width: 7%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_btn2 img{
    height: 100%;
}


    /*PÁGINA DE INICIO DEL PUZZLE 2*/

#puzzle2_inicio{
    position: absolute;
    top: 5%;
    height: 90%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle2_inicio h1{
    font-family: wash;
    font-size: 100pt;
    position: absolute;
    top: 15%;
    
}

#puzzle2_btn1{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}




    /*PÁGINA PRINCIPAL DEL PUZZLE 2*/
#puzzle2_cont{
    position: absolute;
    top: 1%;
    height: 90%;
    width: 98%;
    display: flex;
    font-family: shine;
    font-size: 28.5pt;
    
}

#puzzle2_cont h1{
    font-family: wash;
    font-size: 40pt;
}

#puzzle2_txt{
    background-color: blue;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle2_puzzle{
    background-color: green;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#puzzle2_btn2{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}


/*PISTAS DEL PUZZLE 2*/
#puzzle2_pistas{
    width: 20%;
    height: 5%;
    position: absolute;
    top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: wash;
    font-size: 25pt;
}

#pista2_btn{
    background-color: chocolate;
    height: 80%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer; 
}

#puzzle2_p1, #puzzle2_p2, #puzzle2_p3{
    background-color: grey;
    height: 50%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


#puzzle2_pt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;
    
}

#cerrar_pista_p2{
    position: absolute;
    top: -10%;
    right: -15%;
    height: 15%;
    width: 15%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_pista_p2 img{
    height: 100%;
}



    /*VENTANA ACIERTO DEL PUZZLE 2*/
#puzzle2_acierto{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle2_acierto_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle2_acierto_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle2_btn3{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}
  


/*VENTANA ERROR DEL PUZZLE 2*/
#puzzle2_error{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle2_error_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle2_error_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle2_btn4{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}

/*PUZZLE 3*/

#puzzle3{
    position: absolute;
    height: 95%;
    width: 95%;
    top: 2.5%;
    left: 2.5%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    
}

#cerrar_btn3{
    position: absolute;
    top: 1%;
    right: -3%;
    height: 6%;
    width: 7%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_btn3 img{
    height: 100%;
}


    /*PÁGINA DE INICIO DEL PUZZLE 3*/

#puzzle3_inicio{
    position: absolute;
    top: 5%;
    height: 90%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle3_inicio h1{
    font-family: wash;
    font-size: 100pt;
    position: absolute;
    top: 15%;
    
}

#puzzle3_btn1{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}




    /*PÁGINA PRINCIPAL DEL PUZZLE 3*/
#puzzle3_cont{
    position: absolute;
    top: 1%;
    height: 90%;
    width: 98%;
    display: flex;
    font-family: shine;
    font-size: 28.5pt;
    
}

#puzzle3_cont h1{
    font-family: wash;
    font-size: 40pt;
}

#puzzle3_txt{
    background-color: blue;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle3_puzzle{
    background-color: red;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#puzzle3_btn2{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}

/*PISTAS DEL PUZZLE 3*/
#puzzle3_pistas{
    width: 20%;
    height: 5%;
    position: absolute;
    top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: wash;
    font-size: 25pt;
}

#pista3_btn{
    background-color: chocolate;
    height: 80%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer; 
}

#puzzle3_p1, #puzzle3_p2, #puzzle3_p3{
    background-color: grey;
    height: 50%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


#puzzle3_pt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;
    
}

#cerrar_pista_p3{
    position: absolute;
    top: -10%;
    right: -15%;
    height: 15%;
    width: 15%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_pista_p3 img{
    height: 100%;
}




    /*VENTANA ACIERTO DEL PUZZLE 3*/
#puzzle3_acierto{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle3_acierto_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle3_acierto_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle3_btn3{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}
  


/*VENTANA ERROR DEL PUZZLE 3*/
#puzzle3_error{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle3_error_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle3_error_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle3_btn4{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}
    

/*PUZZLE 4*/

#puzzle4{
    position: absolute;
    height: 95%;
    width: 95%;
    top: 2.5%;
    left: 2.5%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    
}

#cerrar_btn4{
    position: absolute;
    top: 1%;
    right: -3%;
    height: 6%;
    width: 7%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_btn4 img{
    height: 100%;
}


    /*PÁGINA DE INICIO DEL PUZZLE 4*/

#puzzle4_inicio{
    position: absolute;
    top: 5%;
    height: 90%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle4_inicio h1{
    font-family: wash;
    font-size: 100pt;
    position: absolute;
    top: 15%;
    
}

#puzzle4_btn1{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}




    /*PÁGINA PRINCIPAL DEL PUZZLE 4*/
#puzzle4_cont{
    position: absolute;
    top: 1%;
    height: 90%;
    width: 98%;
    display: flex;
    font-family: shine;
    font-size: 28.5pt;
    
}

#puzzle4_cont h1{
    font-family: wash;
    font-size: 40pt;
}

#puzzle4_txt{
    background-color: blue;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle4_puzzle{
    background-color: red;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#puzzle4_btn2{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}


/*PISTAS DEL PUZZLE 4*/
#puzzle4_pistas{
    width: 20%;
    height: 5%;
    position: absolute;
    top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: wash;
    font-size: 25pt;
}

#pista4_btn{
    background-color: chocolate;
    height: 80%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer; 
}

#puzzle4_p1, #puzzle4_p2, #puzzle4_p3{
    background-color: grey;
    height: 50%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


#puzzle4_pt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;
    
}

#cerrar_pista_p4{
    position: absolute;
    top: -10%;
    right: -15%;
    height: 15%;
    width: 15%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_pista_p4 img{
    height: 100%;
}



    /*VENTANA ACIERTO DEL PUZZLE 4*/
#puzzle4_acierto{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle4_acierto_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle4_acierto_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle4_btn3{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}
  


/*VENTANA ERROR DEL PUZZLE 4*/
#puzzle4_error{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle4_error_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle4_error_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle4_btn4{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}
    

/*PUZZLE 5*/

#puzzle5{
    position: absolute;
    height: 95%;
    width: 95%;
    top: 2.5%;
    left: 2.5%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    
}

#cerrar_btn5{
    position: absolute;
    top: 1%;
    right: -3%;
    height: 6%;
    width: 7%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_btn5 img{
    height: 100%;
}


    /*PÁGINA DE INICIO DEL PUZZLE 5*/

#puzzle5_inicio{
    position: absolute;
    top: 5%;
    height: 90%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle5_inicio h1{
    font-family: wash;
    font-size: 100pt;
    position: absolute;
    top: 15%;
    
}

#puzzle5_btn1{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}




    /*PÁGINA PRINCIPAL DEL PUZZLE 5*/
#puzzle5_cont{
    position: absolute;
    top: 1%;
    height: 90%;
    width: 98%;
    display: flex;
    font-family: shine;
    font-size: 28.5pt;
    
}

#puzzle5_cont h1{
    font-family: wash;
    font-size: 40pt;
}

#puzzle5_txt{
    background-color: blue;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle5_puzzle{
    background-color: red;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0%;
    
}

#puzzle5_btn2{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}



/*PISTAS DEL PUZZLE 5*/
#puzzle5_pistas{
    width: 20%;
    height: 5%;
    position: absolute;
    top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: wash;
    font-size: 25pt;
    z-index: 50;
}

#pista5_btn{
    background-color: chocolate;
    height: 80%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer; 
}

#puzzle5_p1, #puzzle5_p2, #puzzle5_p3{
    background-color: grey;
    height: 50%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


#puzzle5_pt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;
    
}

#cerrar_pista_p5{
    position: absolute;
    top: -10%;
    right: -15%;
    height: 15%;
    width: 15%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_pista_p5 img{
    height: 100%;
}


    /* PUZZLE DEL MUNDO 5 (VACAS Y BOTELLAS)*/
#puzzle5_fondo{
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
}

#puzzle5_balsa{
    z-index: 5;
    position: absolute;
    bottom: 8%;
    left: 27%;
    /*animation-name: puzzle5_balsa_ida; */
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#puzzle5_vaca1, #puzzle5_vaca2, #puzzle5_vaca3, #puzzle5_botella1 , #puzzle5_botella2, #puzzle5_botella3 {
    z-index: 10;
    position: absolute;
    cursor: pointer;
}

#puzzle5_vaca1{
    width: 15%;
    z-index: 10;
    position: absolute;
    top: 43%;
    left: 20%;
    cursor: pointer;
}

#puzzle5_vaca2{
    width: 15%;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 1%;
    cursor: pointer;
}

#puzzle5_vaca3{
    width: 15%;
    z-index: 10;
    position: absolute;
    top: 64%;
    left: 15%;
    cursor: pointer;
}

#puzzle5_botella1{
    width: 5%;
    z-index: 10;
    position: absolute;
    top: 87%;
    left: 18%;
    cursor: pointer;
}

#puzzle5_botella2{
    width: 5%;
    z-index: 10;
    position: absolute;
    top: 87%;
    left: 10%;
    cursor: pointer;
}

#puzzle5_botella3{
    width: 5%;
    z-index: 10;
    position: absolute;
    top: 87%;
    left: 2%;
    cursor: pointer;
}











    /*VENTANA ACIERTO DEL PUZZLE 5*/
#puzzle5_acierto{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle5_acierto_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle5_acierto_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle5_btn3{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}
  


/*VENTANA ERROR DEL PUZZLE 5*/
#puzzle5_error{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle5_error_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle5_error_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle5_btn4{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}
    

/*PUZZLE 6*/

#puzzle6{
    position: absolute;
    height: 95%;
    width: 95%;
    top: 2.5%;
    left: 2.5%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    
}

#cerrar_btn6{
    position: absolute;
    top: 1%;
    right: -3%;
    height: 6%;
    width: 7%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_btn6 img{
    height: 100%;
}


    /*PÁGINA DE INICIO DEL PUZZLE 6*/

#puzzle6_inicio{
    position: absolute;
    top: 5%;
    height: 90%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle6_inicio h1{
    font-family: wash;
    font-size: 100pt;
    position: absolute;
    top: 15%;
    
}

#puzzle6_btn1{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}




    /*PÁGINA PRINCIPAL DEL PUZZLE 6*/
#puzzle6_cont{
    position: absolute;
    top: 1%;
    height: 90%;
    width: 98%;
    display: flex;
    font-family: shine;
    font-size: 28.5pt;
    
}

#puzzle6_cont h1{
    font-family: wash;
    font-size: 40pt;
}

#puzzle6_txt{
    background-color: blue;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#puzzle6_puzzle{
    background-color: red;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#puzzle6_btn2{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}



/*PISTAS DEL PUZZLE 6*/
#puzzle6_pistas{
    width: 20%;
    height: 5%;
    position: absolute;
    top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: wash;
    font-size: 25pt;
}

#pista6_btn{
    background-color: chocolate;
    height: 80%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer; 
}

#puzzle6_p1, #puzzle6_p2, #puzzle6_p3{
    background-color: grey;
    height: 50%;
    padding: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


#puzzle6_pt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;
    
}

#cerrar_pista_p6{
    position: absolute;
    top: -10%;
    right: -15%;
    height: 15%;
    width: 15%;
    cursor: pointer;
    z-index: 5;
}

#cerrar_pista_p6 img{
    height: 100%;
}





    /*VENTANA ACIERTO DEL PUZZLE 6*/
#puzzle6_acierto{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle6_acierto_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle6_acierto_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle6_btn3{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}
  


/*VENTANA ERROR DEL PUZZLE 6*/
#puzzle6_error{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#puzzle6_error_txt{
    background-color: blueviolet;
    position: absolute;
    top: 15%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-family: shine;
    font-size: 28.5pt;
    text-align: center;

}

#puzzle6_error_txt h1{
    font-family: wash;
    font-size: 40pt;
    
}

#puzzle6_btn4{
    background-color: seagreen;
    height: 6%;
    width: 12%;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
}


/*FINAL DE JUEGO*/

#final{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: shine;
    font-size: 40pt;
    text-align: center;
    opacity: 0;
    animation-name: final;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#final img{
    width: 100%;
    position: absolute;
    z-index: 5;
}

#final_txt{
    z-index: 15;
    background-color: rgba(255, 255, 255, 0.486);
    padding: .5%;
    border-radius: 10px;
    opacity: 0;
    animation-name: final;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#final_btn{

    background-color: seagreen;
    height: 6%;
    width: 15%;
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: wash;
    font-size: 40pt;
    z-index: 15;
    opacity: 0;
    animation-name: final;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}


    




/*ANIMACIONES*/
@keyframes titulo {
    0% {
        top: -20%
    }
    
    100% {
        top: 30%;
    }
}

@keyframes inicio_op {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes final {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes mundos {
    0% {
        transform: translateY(0%);
    }
    

    50% {
        transform: translateY(2%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes puzzle5_balsa_ida {
    0% {
        left: 27%;
    }
    


    100% {
        left: 40%;
    }
}

@keyframes puzzle5_balsa_vuelta {
    0% {
        left: 40%;
    }
    


    100% {
        left: 27%;
    }
}